    <div class="container-fluid">

      
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">Science News Press</h1>
            <p class="lead">Where all your latest science news can be discover, saved, and comments on for future references!</p>
            <hr class="my-4">
            <p>Click on the box of any story to add your comments!</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Refresh</a>
          </div>


    <div id="wrapper">

    {{> card-block}}

    

      {{!-- <div id="articles"></div> --}}
      
      <div id="notes"></div>
    </div>
  </div>